<section style="display: flex;">
  <div><img src="../assets/img/logo.png" style="
    width: 125px;
    margin-left: 30px;
    margin-top: 10px;"></div>
  <div style="display: flex;margin-top: 20px;margin-left: 245px;">
    <div style="display: flex; margin-left: 20px;">
      <div style="margin-left: 20px;">Insurance </div>
      <img class="dropdown_arrow" src="../assets/img/arrow.png">
    </div>
    <div style="display: flex; margin-left: 20px;">
      <div>Renew your policy </div>
      <img class="dropdown_arrow" src="../assets/img/arrow.png">
    </div>
    <div style="display: flex; margin-left: 20px;">
      <div>File a Claim </div>
      <img class="dropdown_arrow" src="../assets/img/arrow.png">
    </div>

    <div style="display: flex; margin-left: 20px;">
      <div>Contact Us </div>
      <img class="dropdown_arrow" src="../assets/img/arrow.png">
    </div>
    

  </div>

  <span class="login"> <p style="margin-top: -10%;">Sign in</p></span>
</section>

<section>

  <div style="display: flex; margin-left: 4%;">
    <mat-card class="info-card">
      <mat-card-content class="d-flex">
        <img class="img1" src="../assets/img/House.png">

        <p>Property <br>Insurance</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="info-card">
      <mat-card-content>
        <img class="img1" style="width: 75px;" src="../assets/img/protection.png">

        <p>Fire <br>Insurance</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="info-card">
      <mat-card-content><img class="img1" src="../assets/img/Ship.png">
        
        <p>Marine<br> Insurance</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="info-card">
      <mat-card-content>
        <img class="img1" src="../assets/img/Car.png">

        <p>Motor
          <br>Insurance
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="info-card">
      <mat-card-content>
        <img class="img1" src="../assets/img/Insurance.png">
        <p>Reinsurance
          <br>Insurance
        </p>
      </mat-card-content>
    </mat-card>
  </div>


  <div style="display: flex; margin-left: 4%;">
    <mat-card class="info-card">
      <mat-card-content>
        <img class="img1" style="width: 75px;" src="../assets/img/liability.png">

        <p>Liability<br> Insurance</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="info-card">
      <mat-card-content>
        <img class="img1" src="../assets/img/Chassis.png">
        
        <p>Aviation<br> Insurance</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="info-card">
      <mat-card-content>
        <img class="img1" style="width: 75px;" src="../assets/img/engineering.png">

        <p>Engineering <br>Insurance
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="info-card">
      <mat-card-content>
        <img class="img1" src="../assets/img/Health.png">

        <p>Health
          <br>Insurance
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="info-card">
      <mat-card-content>
        <img class="img1" src="../assets/img/Insurance.png">
        <p>Life
          <br>Insurance
        </p>
      </mat-card-content>
    </mat-card>
  </div>



</section>

<hr style="border: .5px solid black;">


<section>
  <div style="display: flex;">
    <div style="flex: 1.5;">
      <img src="../assets/img/circle.png" style="margin-top: 30%;margin-left: 15%;">
      <p style="
      margin-top: -33%;
      margin-left: 55%;
  "><span style="color: #0CA69D;">What makes </span><br>
        <span style="color: #CC0E0E;">ASJ Re</span> the <br>
        best place to buy<br>
        insurance?</p>
    </div>
    <div class="asjre-about" style="margin-left: auto;flex: 2.5;">
      <div style="display: flex;margin-top: 60px;">
        <div style="display: flex;">
          <div class="line1"></div>

          <div class="fact">
            <img src="../assets/img/party.png">
            <h1>Coverage</h1>
            <P>ASJ Re provides seamless and widest <br> coverage for the risk. </P>
          </div>
        </div>
        <div style="display: flex;margin-left: 145px;">
          <div class="line2"></div>
          <div class="fact">
            <img src="../assets/img/search.png">
            <h1> Insurer Partner</h1>
            <P>Partnered with insurance companies <br>in LAO PDR.</P>
          </div>
        </div>
      </div>
      <div style="display: flex;margin-top: 80px;">
        <div style="display: flex;">
          <div class="line3"></div>
          <div class="fact">
            <img src="../assets/img/emoji.png">
            <h1>Lowest Price</h1>
            <P>Security  guaranteed at a competative price.<br> </P>
          </div>
        </div>
        <div style="display: flex;margin-left: 145px;">
          <div class="line4"></div>
          <div class="fact">
            <img src="../assets/img/lady.png">
            <h1>Claims Management</h1>
            <P>ASJ Re stands in the event of<br>losses suffered by the insured.</P>
          </div>
        </div>
      </div>


    </div>



  </div>

</section>

<section style="margin-left: 2%;">
  <h1 style="font-size: x-large;">Ad<span style="color: #880E0E;">van</span>tage</h1>
  <hr style="border: 2px solid #0D5AF0;width: 15%;margin-left: initial;">

  <p>When you buy insurance from us, you get more than just financial safety. You also get: our promise of<br>
    simplifying complex insurance terms and conditions, quick stress-free claims, instant quotes from top <br>insurers
    and being present for you in the toughest of times.</p>
  <a>Know More</a>
</section>

<section>
  <div style="display: flex; margin-top: 20px;">
    <mat-card class="advantage-card">
      <img src="../assets/img/price.png">
      <h2>Widest and Customised coverage</h2>
      <!-- <p>Guaranteed</p> -->
    </mat-card>
    <mat-card class="advantage-card">
      <img src="../assets/img/unbiased.png">
      <h2>Lowest and Competative Terms</h2>
      <!-- <p>Keeping <br>customers</p> -->
    </mat-card>
    <mat-card class="advantage-card">
      <img src="../assets/img/reliable.png">
      <h2>Risk Management</h2>
      <!-- <p>Regulated by IRDAI</p> -->
    </mat-card>
    <mat-card class="advantage-card">
      <img src="../assets/img/claims.png">
      <h2>Insurance Policy Audit  </h2>
      <!-- <p>Made stress-free</p> -->
    </mat-card>
    <mat-card class="advantage-card">
      <img src="../assets/img/happy.png">
      <h2>Claims Management</h2>
      <!-- <p>Everyday of the week</p> -->
    </mat-card>
  </div>
</section>

<section>
  <div>
    <h1 style="text-align: center;">Our Partners</h1>
  <h1 style="text-align: center;">All the Leading insurers for you financial freedom</h1>
  <div class="partners">
<div>
  <img src="../assets/img/aegon.png">
  <img src="../assets/img/kotak.png">
  <img src="../assets/img/digit.png">
  <img src="../assets/img/star.png">
</div>
<div>
  <img src="../assets/img/icici.png">
  <img src="../assets/img/max.png">
  <img src="../assets/img/care.png">
  <img src="../assets/img/ms.png">
</div>
<div>
  <img src="../assets/img/aegon.png">
  <img src="../assets/img/kotak.png">
  <img src="../assets/img/digit.png">
  <img src="../assets/img/star.png">
</div>
<div>
  <img src="../assets/img/icici.png">
  <img src="../assets/img/max.png">
  <img src="../assets/img/care.png">
  <img src="../assets/img/ms.png">
</div>
  </div>
  </div>
  
</section>

<section style="display: flex;">
  <div style="margin-left: 20px;">
    <h1 style="font-size: 30px;">Have a question? <br> Here to help.</h1>

    <div>
      <p style="width: max-content;">Our friendly customer support team is your extended family. Speak your heart out. They <br> listen with
        undivided
        attention to resolve your concerns. Give us a call, request a callback <br> or drop us an email, we’re here to
        help.</p>
    </div>

    <div class="rcorners">
      <h1 style="margin:auto">General Enquiries</h1>
      <h1>info@asjre.com</h1>
    </div>
    <div class="rcorners" style="margin-top: 35px;">
      <p style="margin:auto">Customer Sales Enquiries</p>
      <h1><a href="tel:+856 20 59 631 971">tel:+856 20 59 631 971</a></h1>
    </div>
  </div>
  <div>
    <img src="../assets/img/bigimg.png" style="width: 515px;margin-left: 100px;height: 495px;">
  </div>

</section>

<hr>

<section>
  <div style="display: flex;">
    <img src="../assets/img/logo.png" style="margin-left: 1%;">
    <div style="margin-left: 25%;text-align: center;">
      <p>Legal & Admin Policies</p>
      <p>Disclaimer</p>
    </div>
    <div style="margin-left: 12%;">
      <h3>Keep in Touch</h3>
      <div style="display: flex;">
      <img src="../assets/img/fb.png" style="margin: auto;">
      <img src="../assets/img/insta.png" style="margin: auto;">
      <img src="../assets/img/link.png" style="margin: auto;"></div>
    </div>
    <div style="display: flex; margin-left: 5%;">
      <img src="../assets/img/irdai.png">
      <p>IRDAI License Number</p>
    </div>
  </div>

  <div style="text-align: center;margin-top: 5%;">
    <p>Discount is offered by the Insurance company as approved by IRDAI for the product under File & Use guidelines<br>Standard Plans Terms and Conditions apply</p>
  </div>

</section>