<script>
    // When the user clicks on <div>, open the popup
    function myFunction() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
    }
    </script>
<mat-toolbar color="primary" class="mat-elevation-z8">
    <h1><a routerLink="/" style="text-decoration: none;">AsJre</a></h1>
    <h1 class="nav-health">Health Insurance</h1>
</mat-toolbar>
<mat-card class="detail-card">
    <mat-card-title class="insurance-heading">Reliance</mat-card-title>
    <mat-card-content class="insurance-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a
        mollis diam, non pellentesque ante. Curabitur eu sagittis lorem. Vestibulum.</mat-card-content>
    <div style="display: flex;">
        <mat-card-content class="insurance-price">$399</mat-card-content>
        <mat-card-actions>
            <div class="popup" onclick="myFunction()">Know more
                <span class="popuptext" id="myPopup">Popup text...</span>
            </div>
        </mat-card-actions>
        <mat-card-actions><a href="#" class="button">Buy Now</a></mat-card-actions>
    </div>
</mat-card>
<mat-card class="detail-card">
    <mat-card-title class="insurance-heading">Reliance</mat-card-title>
    <mat-card-content class="insurance-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a
        mollis diam, non pellentesque ante. Curabitur eu sagittis lorem. Vestibulum.</mat-card-content>
    <div style="display: flex;">
        <mat-card-content class="insurance-price">$399</mat-card-content>
        <mat-card-actions><a href="#" class="button">Buy Now</a></mat-card-actions>
    </div>
</mat-card>
<mat-card class="detail-card">
    <mat-card-title class="insurance-heading">Reliance</mat-card-title>
    <mat-card-content class="insurance-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a
        mollis diam, non pellentesque ante. Curabitur eu sagittis lorem. Vestibulum.</mat-card-content>
    <div style="display: flex;">
        <mat-card-content class="insurance-price">$399</mat-card-content>
        <mat-card-actions><a href="#" class="button">Buy Now</a></mat-card-actions>
    </div>
</mat-card>
<mat-card class="detail-card">
    <mat-card-title class="insurance-heading">Reliance</mat-card-title>
    <mat-card-content class="insurance-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a
        mollis diam, non pellentesque ante. Curabitur eu sagittis lorem. Vestibulum.</mat-card-content>
    <div style="display: flex;">
        <mat-card-content class="insurance-price">$399</mat-card-content>
        <mat-card-actions><a href="#" class="button">Buy Now</a></mat-card-actions>
    </div>
</mat-card>